<div class='ui container fluid' id='headline'>
  <h1>Products</h1>
  <button class="ui btn" id="toggle">Show Form</button>
</div>

<div class='ui container'>
  
  <div class='ui grid four wide column'>
    <table class='ui striped table'>
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Base Price</td>
        </tr>
      </thead>
      <tbody id = 'products'>
      </tbody>
    </table>
  </div>

</div>

